
/* == 첫번째 컨테이너 == */
.goal-first-container {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1.5rem;
}

.goal-first-container-img {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;

    font-family: LotteHappyMedium;
    font-size: 16px;
    color: white;

    width: 65px;
    height: 65px;
    border-radius: 99px;
    background-color: #B8D989;
    border: 10px solid rgb(223, 243, 193);       
}



/* == 두번째 컨테이너 == */

.goal-second-container {
    width: 100%;
    height: 140px;

    /* border: 1px solid salmon; */

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 2.3rem;
}

.goal-second-container-challenge {
    position: relative;

    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-right: 1rem;

    padding-block: 1rem;

    display: flex;
    flex-direction: column;
}

.goal-second-container-fail {
    position: relative;

    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;

    padding-block: 1rem;

    display: flex;
    flex-direction: column;
}

.goal-second-container-txt {
    margin-bottom: 0.2rem;
}

.goal-second-container-img {
    position: absolute; /* 부모를 기준으로 위치 지정 */
    width: 50px;
    height: 50px;
    /* background-color: grey; */

    right: 0; /* 부모의 오른쪽 끝에 위치 */
    bottom: 0; /* 부모의 아래쪽 끝에 위치 */
    transform: translate(-30%, -30%); /* 패딩 내에 적절하게 맞춰 위치 조정 */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* == 세번째 컨테이너 == */

.goal-third-container {
    position: relative;

    width: 100%;
    height: 260px;
    background-color: white;
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-block-start: 1.5rem;
}

.goal-third-img-container {
    position: absolute;
    width: 100%;
    top: -5%;
}
.goal-third-container-txt {
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    text-align: center;

    font-family: Kubulim;
    color: black;
    font-size: 40px;
}

.goal-third-container-btn {
    position: absolute; /* 부모를 기준으로 위치 지정 */
    display:flex;

    width: 30px;
    height: 30px;

    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    border: 1px solid rgb(185, 185, 185);


    right: 0; /* 부모의 오른쪽 끝에 위치 */
    bottom: 0; /* 부모의 아래쪽 끝에 위치 */
    transform: translate(-80%, -50%); /* 패딩 내에 적절하게 맞춰 위치 조정 */
}

.goal-third-container-btn-img {

    opacity: 0.7;
}
