.challenge-view-layout {
    margin-top: 0.5rem;
    width: 100%;
    /* border: 3px solid red; */
    display: flex; 
    flex-direction: column;
    padding: 1.5rem;
  }

/* 메세지 전체 레이아웃 */
.message-container {
    margin-top: 1.0rem;
    width: 100%;
    /* border: 3px solid red; */
    display: flex; 
    flex-direction: column;
    align-content: center;
}  