/* public 폴더에 있는 폰트를 사용 */

@font-face {
    font-family: 'AppleUltraLight';
    src: url('/fonts/AppleSDGothicNeoUL00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'AppleLight';
    src: url('/fonts/AppleSDGothicNeoL00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AppleRegular';
    src: url('/fonts/AppleSDGothicNeoR00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AppleMedium';
    src: url('/fonts/AppleSDGothicNeoM00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AppleSemiBold';
    src: url('/fonts/AppleSDGothicNeoSB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AppleBold';
    src: url('/fonts/AppleSDGothicNeoB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AppleExtraBold';
    src: url('/fonts/AppleSDGothicNeoEB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AppleHeader';
    src: url('/fonts/AppleSDGothicNeoH00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kubulim';
    src: url('/fonts/BMKkubulimTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kubulim2';
    src: url('/fonts/BMKkubulimTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* 기본 폰트 설정 */
  html, body {
    
    width: 100%;
    height: 100%;
    font-family: 'AppleLight', Arial, sans-serif;
    background-color: #d3d3d3;
    color : rgb(131, 131, 131);
    font-size: 15;
  }

  /* box 모델 설정해주기*/
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box Model 설정 */
  }
  
  .container {
    min-height: 100%;

    border:3px solid blue;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */

  }
  
  /* 핸드폰 박스 */
  .phone-box {

    border:3px solid red;
    width: 375px; /* 기본 가로 크기 */
    height: 100%; /* 기본 세로 크기 */
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 16px;
    text-align: center;
  }
  
  /* 반응형 스타일: 폭이 높이보다 10/15 이하일 때 */
  @media (max-aspect-ratio: 2/3) {
    .container {
      background-color: white; /* 배경을 숨김 (박스와 동일한 색상으로) */
      justify-content: center;
      align-items: center;
    }
  
    .phone-box {
      width: 100%; /* 화면 전체 너비 */
      height: auto; /* 화면 전체 높이 */
      border-radius: 0; /* 둥근 모서리 제거 */
      box-shadow: none; /* 그림자 제거 */
    }
  }