.review-regist-layout{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    /* border: 1px solid blue; */
}


/*gpt 나중에 수정하기*/

.regist-input-box {
    background-color: #f1f1f1;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 8px;
    margin-block: 1rem;
    margin-bottom: 16px;
}

.regist-input-unclick-box {
    padding-inline: 12px;
    padding-block: 8px;
    font-size: 15px;
    font-family: AppleRegular;
}

.regist-input-nickname {
    margin-block: 6px;
    margin-inline: 12px;
    font-family: AppleSemiBold;
}

.regist-input-realbox {
    background-color: #f1f1f1;
    padding-inline: 12px;
    padding-right: 18px;
    padding-block: 3px;

    width: 100%;

    border: none;
    outline: none;
    resize: none;

    font-size: 15px;
    font-family: AppleRegular;
}


/* 밑에 오른쪽정렬할 애들 */
.regist-input-sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-inline: 25px;
}

.regist-input-txt-size{
    font-size: 12px;
    margin-right: 2px;
}


.regist-input-btn {
    margin-block: 4px;
    margin-inline: 6px;

    padding: 6px 12px;
    font-family: AppleSemiBold;
    font-size: 12px;
    background-color: #C2DFFF;
    color: #5469F8;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.regist-cancel-btn {
    margin-block: 4px;

    padding: 6px 12px;
    font-family: AppleSemiBold;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #767676;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}

