
/* 검색창 */
.search-layout{
    margin-top: 2.0rem;
    padding-left: 1.2rem;
    padding-right:1.2rem;
    
    /* max-width: 339px; 최대 너비 제한 */
    width: 100%; /* 너비를 %로 설정 */
    height: 50px;
  
    display: flex;
    align-items: center; /* 세로로 중앙 정렬 */
    justify-content: center; /* 요소 시작 위치를 왼쪽으로 */
  }
  
  .search-layout-main {
  
    position: absolute;
    top: 50vh; /* 부모 컨테이너 상단에서 20px 아래 */
    left: 50%; /* 부모 컨테이너 기준으로 수평 중앙 */
    transform: translateX(-50%); /*자신의 너비 기준으로 정확히 중앙 정렬*/
  
  }
  
  .search-layout-video {
    display:flex;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .search-input{
    display: flex;
    left: -2.06%;
    right: 9.14%;
    top: -11.11%;
    bottom: -14.81%;
  
    height: 100%;
    width: 100%;
    
    background: #FFFFFF;
    border-radius: 30px;
  
    font-size: 120%;
    font-family: AppleLight;

    padding-left: 25px;
    margin-right: 10px;
    border:0;
    outline: none;
  }
  
  .search-input:focus {
      border:1px solid rgb(190, 190, 190);
  }
  
  
  .search-btn{
    display: flex;
    height: 100%;
    /* 비율 1:1로 설정하기 */
    aspect-ratio: 1 / 1; 
  
    left: 93.22%;
    right: -2.36%;
    top: calc(50% - 31px/2);
  
    margin-right: 5px;
    
    background: #AFAFAF;
    border-radius: 30px;
    border:1px solid rgb(190, 190, 190)
  
  }
  